.serverList {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: var(--item-margin-tb) var(--item-margin-lr);
  padding: var(--item-padding-tb) var(--item-padding-lr);
  background-color: var(--section-background-color);
  border-radius: var(--item-list-border-radius);
  width: fill;
}

.serverItem {
  overflow: hidden;
  width: calc(15% - 16px);
  transition: transform 0.3s ease;
  background-color: var(--item-background-color); 
  border-radius: var(--small-border-radius);
  margin: var(--item-list-margin-tb) var(--item-list-margin-lr);
  padding: var(--item-list-padding-tb) var(--item-list-padding-lr);
}

.serverItem:hover {
  transform: scale(1.015);
}

.serverInfo {
  padding: 10px auto 5px;
}

.serverIcon {
  width: 100px;
  height: 100px;
  margin: 10px auto 10px;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 10%;
}

.serverIcon:hover {
  transform: scale(1.015);
}

.cta {
  align-items: center;
  justify-content: center;
}

.websiteIcon,
.discordIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.2s;
}

.websiteIcon:hover,
.discordIcon:hover {
  transform: scale(1.1);
}

p {
  margin: 0;
  margin-bottom: 10px;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .serverList {
    flex-direction: column;
    align-items: center;
  }


  .serverItem {
    width: calc(80% - 16px);
    height: min-content;
    margin: 5px auto 3px;
  }

  .serverIcon {
      width: 50px;
      height: 50px;
    }
}