.serverList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding);
  background-color: var(--section-background-color);
  border-radius: var(--section-border-radius);
}

.serverItem {
  overflow: hidden;
  margin: 10px;
  width: calc(15% - 16px);
  transition: transform 0.3s ease;
  background-color: var(--item-background-color); 
  border-radius: var(--small-border-radius);
  padding: var(--item-padding);
}

.serverItem:hover {
  transform: translateY(-5px);
}

.serverInfo {
  padding: 10px auto 5px;
}

.serverIcon {
  width: 100px;
  height: 100px;
  margin: 10px auto 10px;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 10%;
}

.serverItem:hover .serverIcon {
  transform: scale(1.1);
}

.cta {
  align-items: center;
  justify-content: center;
}

.websiteIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px
}

.websiteIcon:hover {
  background-color: var(--hover-background-color);
}

.discordIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  background-color: none;
}

.discordIcon:hover {
  background-color: var(--hover-background-color);
}

p {
  margin: 0;
  margin-bottom: 10px;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .serverList {
    flex-direction: column;
    align-items: center;
  }


  .serverItem {
    width: calc(80% - 16px);
    height: min-content;
    margin: 5px auto 3px;
  }

  .serverIcon {
      width: 50px;
      height: 50px;
    }
}