.hostList {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: var(--item-margin-tb) var(--item-margin-lr);
  padding: var(--item-padding-tb) var(  --item-padding-lr);
  background-color: var(--section-background-color);
  border-radius: var(--item-list-border-radius);
  width: 100%;
}

.hostItem {
  overflow: hidden;
  width: 20%;
  transition: transform 0.3s ease;
  background-color: var(--item-background-color); 
  border-radius: var(--small-border-radius);
  margin: var(--item-list-margin-tb) var(--item-list-margin-lr);
  padding: var(--item-list-padding-tb) var(--item-list-padding-lr);
}

.hostItem:hover {
  transform: translateY(-5px);
}

.hostInfo {
  padding: 10px auto 5px;
}

.hostIcon {
  width: 80%;
  height: auto;
  margin: 10px auto 10px;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 10%;
}

.hostItem:hover .hostIcon {
  transform: scale(1.1);
}

.hostIcon:hover {
  background-color: var(--hover-background-color);
}

.supportedTypes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6%;
}

.typeCard img {
  width: 30px;
  filter: brightness(60%);
}

.cta {
  align-items: center;
  justify-content: center;
}

.websiteIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.2s;
}

.websiteIcon:hover {
  transform: scale(1.1);
}

.discordIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  background-color: none;
  transition: transform 0.2s;
}

.discordIcon:hover {
  transform: scale(1.1);
}

p {
  margin: 0;
  margin-bottom: 10px;
}

/* Media Query for Tablets */
@media only screen and (max-width: 768px) {
  .hostList {
    display: grid;
    flex: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .hostItem {
    width: 100%;
    margin: 2px auto 3px;
    padding: 0;
  }

  .hostIcon {
    width: 30px;
    height: auto;
  }
}
