.creationsList {
  list-style: none;
  display: grid;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: var(--item-margin-tb) var(--item-margin-lr);
  padding: var(--item-padding-tb) var(  --item-padding-lr);
  background-color: var(--section-background-color);
  border-radius: var(--item-list-border-radius);
  width: 100%;
}

.creationItem {
  background-color: var(--item-background-color);
  border-radius: var(--item-border-radius);
  display: flex;
  flex-direction: row;
  transform: scale(1);
  transition: transform 0.2s;
  margin: var(--item-margin-tb) var(--item-margin-lr);
  padding: var(--item-padding-tb) var(  --item-padding-lr);
  width: 95%;
  height: 80%;
}

.creationItem:hover {
  transform: scale(1.02);
}

.creationItem:active {
  transform: scale(1);
}

.leftContent {
  flex: 1;
}

.rightContent {
  flex: 2;
  padding-left: 10px;
}

.creationOrganizationImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.creationOrganizationImage:hover {
  transform: scale(1.1);
}

.creationOrganisation {
  font-style: italic;
  font-size: 10px;
  margin: 0 0 10px;
}

.creationName {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.linkIcon {
  width: 20px;
  height: 20px;
  padding: 0 5px 0;
  transition: transform 0.2s;
}

.linkIcon:hover {
  transform: scale(1.1);
  transition: transform 0.2s;;
}

.creationDescription {
  font-size: 12px;
  margin: 0 0 10px;
}