.carousel {
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay in a single row */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.image {
  max-width: none; /* Remove max-width to prevent resizing */
  height: 70px; /* Set the height of the images */
  border-radius: 5px;
  margin: 0 10px;
}
