.carouselContainer {
  overflow: hidden;
}

.orgList {
  display: flex;
  animation: carouselAnimation 30s linear infinite;
}

.orgIcon {
  height: 150px;
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
