.container {
  background-color: #121212;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 97.5%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #666;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

button:hover {
  background-color: #ec962b;
}

#totalCost,
#resources {
  margin-top: 10px;
  font-size: 18px;
}
