.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100px;
  height: auto;
  margin-right: 15px;
}

@keyframes logoAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.header {
  background: #00112dbb; /* Dark black background */
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.header li {
  font-size: 1.2rem;
}

.header li a {
  color: #267bfc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header li a:hover {
  color: #6098ec;
}

/* Aqua styling for specific elements */
.header .animatedBackground {
  background: linear-gradient(to right, #003366, #006699);
  padding: 10px; /* Adjusted padding for better spacing */
  border-radius: 10px; /* Added border-radius for a rounded appearance */
}

.header .animatedLogo {
  filter: brightness(1.2); /* Slightly increased brightness for the logo */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Adjusted padding for smaller screens */
  }

  .logo img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header ul {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjusted gap for better spacing on smaller screens */
  }

  .header li {
    margin-bottom: 0;
  }

  .animatedBackground {
    padding: 5px; /* Adjusted padding for smaller screens */
  }

  /* Optional: Adjust logo animation for smaller screens */
  @keyframes logoAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
}