.hero {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.hero-image {
  width: 110vw;
  position: absolute;
  height: auto;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
  animation: moveBackground 8s ease-in-out infinite;
  filter: blur(4px); 
}

@keyframes moveBackground {
  0%, 100% {
    margin-left: 0;
    transform: translateX(0) rotate(0deg);
  }
  25% {
    margin-left: -20px; /* Move left 20px in 3 seconds */
    transform: translateX(0) rotate(-5deg);
  }
  50% {
    margin-left: -10px; /* Move right 10px in 2 seconds */
    transform: translateX(0) rotate(2.5deg);
  }
  75% {
    margin-left: 10px; /* Move left 10px in 2 seconds */
    transform: translateX(0) rotate(-2.5deg);
  }
}

.hero p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.youtube-button {
  background-color: darkred;
  color: white;
  border: none;
  height: 60px;
  margin: 0 0 0 8px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;
  padding: 0 24px;
}

.youtube-button:hover {
  background-color: red;
}

.youtube-button:hover::after {
  content: "⤤";
  color: rgb(203, 154, 154);
  margin-left: 5px;
}

.bmc-button {
  background-color: darkblue;
  color: white;
  border: none;
  height: 60px;
  margin: 0 0 0 8px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;
  padding: 0 24px;
}

.bmc-button:hover {
  background-color: blue;
}

.bmc-button:hover::after {
  content: "⤤";
  color: rgb(193, 225, 246);
  margin-left: 5px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    margin-top: 20px;
    padding: 40px 20px;
    text-align: center;
  }

  .hero-image {
  display: none;
  }

  .button-group {
    flex-direction: column;
    gap: 16px;
  }

  .youtube-button,
  .bmc-button {
    margin: 0;
    width: 100%;
  }
}
