body {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    background: #f8f8f8;
    color: #555;
}

#page-wrapper {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
}

#header {
    background: #007BFF;
    padding: 15px 20px;
    border-bottom: 2px solid #004080;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#nav ul li {
    margin-right: 20px;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#nav ul li a:hover {
    color: #ffcc00;
}

.slider-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.slider-label {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.slider {
    width: 100%;
    margin-bottom: 15px;
}

#ramValue,
#storageValue,
#cpuValue,
#portsValue {
    display: inline-block;
    width: 40px;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
}

#costSection {
    margin-top: 20px;
    padding: 20px;
}

h2 {
    color: #007BFF;
}

p {
    font-size: 1.1em;
}

#billingSection {
    margin-top: 20px;
}

#billingDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    border-radius: 8px;
}

#billingDialog img {
    width: 100%;
    max-width: 400px;
    border-top: 10px solid #007BFF;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
}

#billingDialog button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}