/* Footer Styling */
footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    padding: var(--padding-unit);
    text-align: center;
    clear: both;
    border-top: var(--border-width) solid var(--link-text-color);
}