@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root {
    --primary-bg-color: #000000;
    --header-bg-color: #3031323c;
    --footer-bg-color: #3031323c;

    --primary-text-color: #b8b8b8;
    --header-text-color: #adadad;
    --footer-text-color: #444444;
    --link-text-color: #0099ff;
    --link-hover-color: #00ccff;
    --email-color: #00ff66;

    --padding-large-width: 20px;
    --padding-medium-width: 15px;
    --padding-small-width: 10px;

    --margin-large-width: 20px;
    --margin-medium-width: 15px;
    --margin-small-width: 10px;

    --section-border-width: 1px;
    --section-border-color: #666666;
    --section-border-radius: 6px;

    --border-large-radius: 25px;
    --border-medium-radius: 15px;
    --border-small-radius: 5px;

    --font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--primary-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--primary-text-color);
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    font-family: var(--font-family);
    border-radius: var(--border-large-radius);
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--padding-medium-width);
}

/* Apply the Red Hat font to specific elements as needed */
h1, h2, h3, p, a {
    font-family: var(--font-family);
}

/* Apply link colors and email color to body text */
body a {
    color: var(--link-text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

body a:hover {
    color: var(--link-hover-color);
}

/* Apply email color to specific elements if needed */
body .email {
    color: var(--email-color);
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 var(--padding-small-width);
    }
}
