/* Header Styling */
header {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    padding: var(--padding-unit);
}

/* Navigation (nav) Styling */
nav {
    background-color: var(--primary-bg-color);
    color: var(--link-text-color);
    padding: var(--padding-unit);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: var(--padding-unit);
    padding-right: var(--padding-unit);
    border-right: var(--border-width) solid var(--link-text-color);
    transition: background-color 0.3s ease;
}

nav ul li:last-child {
    margin-right: 0;
    border-right: none;
}


