/* Style the project table */
.project-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgb(67, 67, 67);
    border: 2px solid #555;
    overflow-x: auto; /* Add horizontal scroll for small screens */
}

/* Style the table header */
.project-table th {
    background-color: #2d2d2d;
    color: #fff;
    padding: 15px;
    text-align: left;
}

/* Style the table rows */
.project-table td {
    padding: 15px;
    border: 1px solid #555;
}

/* Style the repo link button */
.repo-link {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for repo link button */
.repo-link:hover {
    background-color: #fbfeff4f;
    color: #fff;
}

/* Center the table */
.table-container {
    display: flex;
    justify-content: center;
}

/* Media query for smaller screens (e.g., phones) */
@media only screen and (max-width: 600px) {
    .project-table th,
    .project-table td {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .repo-link {
        padding: 8px 12px; /* Adjust padding for smaller screens */
    }
}
