/* Style the project cards container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style the project card */
.project-card {
    width: 300px;
    margin: 20px;
    background-color: rgba(49, 49, 49, 0.462);
    border: 2px solid #555;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Hover effect for the project card */
.project-card:hover {
    transform: scale(1.05);
}

/* Style the card content */
.card-content {
    padding: 15px;
}

/* Style the repo link button within the card */
.repo-link {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for the repo link button */
.repo-link:hover {
    background-color: #fbfeff4f;
    color: #fff;
}
