/* Header */
header {
    margin: 0;
    padding: 15px 20px;
    background-color: #000; /* Black background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Apply styling to the logo */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff; /* White text color */
    text-transform: uppercase;
}

/* Style the navigation menu */
nav {
    border: 1px solid #555;
    border-radius: 5px;
    overflow: hidden; /* Clearfix for floated elements */
}

/* Style the main navigation list */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Style the navigation links */
nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
    display: block;
}

/* Hover effect for navigation links */
nav a:hover {
    background-color: #555; /* Slightly darker background on hover */
}

/* Style the submenu */
nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the submenu links */
nav ul ul a {
    color: #fff;
}

/* Show submenu on hover */
nav li:hover > ul {
    display: flex;
    flex-direction: column;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        margin-top: 10px;
        border: none;
    }

    nav a {
        padding: 10px 15px;
    }
}

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818; /* Black background color */
}

/* Footer */
footer {
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 20px; /* Add space between content and footer */
}

/* Apply styling to the copyright text */
.footer-copyright {
    font-size: 14px;
    background-color: #2a2929;
    padding: 10px; /* Add padding for better separation */
    border-radius: 6px; /* Round the corners */
}

/* Style the navigation menu in the footer */
.footer-nav {
    display: flex;
    background-color: #1f1f1f;
    margin-left: auto; /* Push navigation to the right */
}

/* Style the navigation links in the footer */
.footer-nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 14px;
    transition: color 0.3s ease;
    background-color: #1d1d1d;
    padding: 10px; /* Add padding for better separation */
    border-radius: 6px; /* Round the corners */
}

/* Hover effect for navigation links in the footer */
.footer-nav a:hover {
    color: #ffd700; /* Change color on hover */
    background-color: #3e3c3c;
}

/* Style the iframe for the GitHub Sponsor button */
.footer-sponsor {
    border: 0;
    border-radius: 6px;
    margin-left: 15px; /* Add space between navigation and sponsor button */
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav {
        margin-top: 10px;
        margin-left: 0; /* Center navigation in mobile view */
    }

    .footer-nav a {
        margin: 0 10px;
    }
}
