/* Add a viewport meta tag to ensure proper rendering on mobile devices */
meta {
    viewport: width=device-width, initial-scale=1.0;
}

/* Header */
header {
    margin: 0;
    padding: 15px;
    background: linear-gradient(to right, #000, #333);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

/* Apply styling to the logo */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

/* Style the navigation menu */
nav {
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    overflow: hidden; /* Clearfix for floated elements */
}

/* Style the main navigation list */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Style the navigation links */
nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition for color change */
    display: block;
    border-radius: 3px; /* Rounded corners */
}

/* Hover effect for navigation links */
nav a:hover {
    background-color: #555; /* Slightly darker background on hover */
    color: #3498db; /* Blue text on hover */
}

/* Style the submenu */
nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 3px; /* Rounded corners */
}

/* Style the submenu links */
nav ul ul a {
    color: #fff;
}

/* Show submenu on hover */
nav li:hover > ul {
    display: flex;
    flex-direction: column;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 10px 100px;
    padding: 20px;
    background: linear-gradient(to right, #000, #111); /* Dark gradient background */
    color: #fff; /* White text color */
    border-radius: 3px; /* Rounded corners */
}

/* Footer */
footer {
    background: linear-gradient(to right, #000, #333); /* Dark gradient background */
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 20px;
    border-radius: 3px;
}

/* Apply styling to the copyright text */
.footer-copyright {
    font-size: 14px;
    background-color: #2a2929;
    padding: 10px; /* Add padding for better separation */
    border-radius: 3px; /* Rounded corners */
}

/* Style the navigation menu in the footer */
.footer-nav {
    display: flex;
    background-color: #1f1f1f;
    margin-left: auto; /* Push navigation to the right */
}

/* Style the navigation links in the footer */
.footer-nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px 15px;
    font-size: 14px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Transition for color change */
    padding: 10px; /* Add padding for better separation */
    border-radius: 3px; /* Rounded corners */
}

/* Hover effect for navigation links in the footer */
.footer-nav a:hover {
    color: #3498db; /* Blue text on hover */
    background-color: #3e3c3c; /* Slightly darker background on hover */
}

/* Style the iframe for the GitHub Sponsor button */
.footer-sponsor {
    border: 0;
    border-radius: 3px; /* Rounded corners */
    margin: 10px 15px; /* Add equal space above and below the sponsor button */
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        border-radius: 3px; /* Rounded corners */
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        margin-top: 10px;
        border: none;
        border-radius: 3px; /* Rounded corners */
    }

    nav a {
        padding: 10px 15px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav {
        margin-top: 10px;
        margin-left: 0; /* Center navigation in mobile view */
    }

    .footer-nav a {
        margin: 0 10px;
    }
}
