.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
}

.image {
  width: 100%;
  max-width: 50px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  border-radius: 50%;
}

.image:hover {
  transform: scale(1.1);
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .carousel {
    padding: 5px;
  }

  .image {
    max-width: 20px;
  }
}