.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.image {
  max-width: none;
  height: 70px;
  border-radius: 5px;
  margin: 0 10px;
}
