/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #5797ff;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151e2c;
  --qwik-dark-text: #ffffff;

  --section-border-radius: var(--medium-border-radius);
  --section-background-color: #ffffff17;
  --section-padding: 20px auto;

  --small-padding: 5px;
  --medium-padding: 10px;
  --large-padding: 20px;

  --item-background-color: #0000002e;
  --item-border-radius: var(--small-border-radius);
  --item-margin-tb: 5px;
  --item-margin-lr: 5px;
  --item-padding-tb: 4px;
  --item-padding-lr: 4px;

  --item-list-border-radius: var(--medium-border-radius);
  --item-list-margin-tb: 10px;
  --item-list-margin-lr: 10px;
  --item-list-padding-tb: 7px;
  --item-list-padding-lr: 5px;

  --small-border-radius: 3px;
  --medium-border-radius: 8px;
  --large-border-radius: 15px;
  
  --hover-background-color:  #ffffff11;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: 'Red Hat Text', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-family: 'Red Hat Text', sans-serif;
}
