/* Updated footer.module.css */

.footer {
  background-color: var(--footer-background);
  color: white;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-bottom: 10px;
}

.email {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.rightSection {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 0 15px; /* Adjust spacing between links */
}

.link:hover {
  color: var(--qwik-light-blue);
}

.line {
  border-bottom: 1px solid white;
  margin: 20px 0;
}

.authorMessage {
  text-align: center;
  font-size: 0.9rem;
}
