/* Updated footer.module.css */

.footer {
  background-color: var(--footer-background);
  color: var(--text-color);
  padding: 30px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  margin-bottom: 20px;
}

.email {
  font-size: 1rem;
  margin-bottom: 10px;
}

.rightSection {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.link {
  color: var(--qwik-light-blue);
  text-decoration: none;
  font-size: 1rem;
  margin: 0 20px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--qwik-light-purple);
}

.line {
  border-bottom: 1px solid var(--qwik-dirty-black);
  margin: 20px 0;
}

.authorMessage {
  font-size: 1rem;
  color: #a4a1a1;
}
